{% extends 'app/index.html' %}{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="search-div" class="w-50 mx-auto my-4">
    <form class="form-inline" method="POST" action="{% url 'dashboard' dashboard.pk %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input class="form-control mr-sm-2" aria-label="Search" type="text" placeholder="Search Address" name="address" maxlength="100" required="" id="id_address">  
            <div class="input-group-append">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>


<h3> {{dashboard.name}} Details</h3>

{% if results %}
{{results.balance}}
{{results.balance_time|safe}}
{% endif %}
{% endblock content %}

