{% extends 'app/index.html' %}{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="search-div" class="w-50 mx-auto my-4">
    <form class="form-inline" method="POST" action="{% url 'dashboard' dashboard.pk %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input class="form-control mr-sm-2" aria-label="Search" type="text" placeholder="Search Address" name="address" maxlength="100" required="" id="id_address">  
            <div class="input-group-append">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{dashboard.name}} results</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>


{% if results %}
<div class="container-fluid">
    {% if results.exchanges %}
        <ul>
            {% for exchange in results.exchanges %}
                <li>{{exchange}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if results.balance or results.first_transaction or results.last_transaction or results.illegal_activity %}
    <!-- Content Row -->
    <div class="row">
        {% if results.balance %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 border-start border-success border-4  shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="small fw-bold text-success text-uppercase mb-1">
                                Balance</div>
                            <div class="h5 mb-0 font-weight-bold" style="color:#343a40">{{results.balance}} BTC</div>
                        </div>
                        <div class="col-auto">                       
                            <i class="fas fa-brands fa-btc fa-2x" style="color:#dee2e6"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if results.first_transaction %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 border-start border-info border-4  shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="small fw-bold text-info text-uppercase mb-1">
                                First Transaction</div>
                            <div class="h5 mb-0 font-weight-bold" style="color:#343a40">{{results.first_transaction}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-regular fa-calendar fa-2x" style="color:#dee2e6"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if results.last_transaction %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 border-start border-info border-4  shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="small fw-bold text-info text-uppercase mb-1">
                                Last Transaction</div>
                            <div class="h5 mb-0 font-weight-bold" style="color:#343a40">{{results.last_transaction}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-regular fa-calendar fa-2x" style="color:#dee2e6"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if results.illegal_activity %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 border-start border-warning border-4  shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="small fw-bold text-warning text-uppercase mb-1">
                                Illegal Activity</div>
                            <div class="h5 mb-0 font-weight-bold" style="color:#343a40">{{results.illegal_activity}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-solid fa-skull-crossbones fa-2x" style="color:#dee2e6"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    
    
    {% if results.balance_time %}
    <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 small fw-bold text-primary">Balance Through Time</h6>
            {% comment %} <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div> {% endcomment %}
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {{results.balance_time|safe}}
            {% comment %} <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="myAreaChart" style="display: block; width: 1049px; height: 320px;" class="chartjs-render-monitor" width="1049" height="320"></canvas>
            </div> {% endcomment %}
        </div>
    </div>
    {% endif %}
    {% if results.inputs_stats %}
    <div class="row">

        <!-- Inputs Column -->
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 small font-weight-bold text-primary">Inputs Stats</h6>
                    {% comment %} <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> {% endcomment %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {{results.inputs_stats|safe}}
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 small font-weight-bold text-primary">Outputs Stats</h6>
                    {% comment %} <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> {% endcomment %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {{results.outputs_stats|safe}}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if results.web_appearances or results.related_addresses %}
    <!-- Content Row -->
    <div class="row">
        {% if results.web_appearances %}
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4 h-100">
                <div class="card-header py-3">
                    <h6 class="m-0 small fw-bold text-primary">Web appearances</h6>
                </div>
                <div class="card-body">
                    <div class="overflow-auto">
                        {% for url in results.web_appearances %}
                        <div>
                            <a class="h5 small fw-bold" href="{{url}}">{{url}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% if results.addresses %}
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4 h-100">
                <div class="card-header py-3">
                    <h6 class="m-0 small fw-bold text-primary">Related Addresses</h6>
                </div>
                <div class="card-body">
                    <div class="text-center overflow-auto">
                        {% for address in results.addresses %}
                        <h5 class="small fw-bold">{{address}}</a>
                        {% endfor %}
                    </div>    
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% if results.transactions %}
    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 small fw-bold text-primary">Transactions</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive-sm">
                            <table id="dataTable" class="table small table-striped table-sm" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                    <th class="th-sm">Hash
                                    </th>
                                    <th class="th-lg">Date
                                    </th>
                                    <th class="th-sm">Sent or Received
                                    </th>
                                    <th class="th-sm">Inputs
                                    </th>
                                    <th class="th-sm">Outputs
                                    </th>
                                    <th class="th-sm">Value
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in results.transactions %}
                                    <tr>
                                        <td><a href="https://www.blockchain.com/btc/tx/{{transaction.hash}}">{{transaction.hash}}</a></td>
                                        <td>{{transaction.date}}</td>
                                        <td>{% if transaction.is_input %} Sent {% else %} Received {% endif %}</td>
                                        <td>{{transaction.inputs.0.address}}</td>
                                        <td>{{transaction.outputs.0.address}}</td>
                                        <td>{{transaction.value}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Hash
                                        </th>
                                        <th>Date
                                        </th>
                                        <th>Sent or Received
                                        </th>
                                        <th>Inputs
                                        </th>
                                        <th>Outputs
                                        </th>
                                        <th>Value
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    
    <!-- Comment section -->
    <div class="container mt-5">
        <h2>Leave your notes and contribute!</h2>
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    <div id="comment-list-wrapper" class="comment-list-wrapper">
                        {% include 'app/note_list.html' %}  
                    </div>
                    <div class="comment-form-wrapper">
                        <form method="POST" id="#comment-form" class="bg-light p-2 comment-form">
                            {% csrf_token %}
                            <div class="d-flex flex-row align-items-start">
                                <img class="rounded-circle p-2" src="https://i.imgur.com/NAGTvvz.png" width="40">
                                <textarea class="form-control ml-1 shadow-none textarea p-3" id="note" name="note"></textarea>
                            </div>
                            <div class="mt-2 text-right">
                                <button class="btn btn-primary btn-sm shadow-none" type="submit">Post note</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>  
    $(document).ready(function() {
        $('.comment-form').submit(function(e){
            e.preventDefault();
            var $form = $(this);
            var serializedData = $form.serialize();
            $.ajax({
                type:'POST',
                url:`{% url "note-create" address %}`,
                data: serializedData,
                dataType: "json",
                success:function(){
                    $(".comment-form")[0].reset();
                    $.ajax({
                        type:'GET',
                        url:`{% url "note-list" address %}`,
                        success:function(data){
                            $('#comment-list-wrapper').html(data);
                        }
                    });
                },
                error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });      
    });
    
</script>

{% else %}
<div class="position-absolute top-50 start-50 translate-middle fs-1"> 
    <center> 
        <div class="text-muted">
            Nothing here! Search an address to investigate.
        </div>
    </center>
</div>
{% endif %}
<script>

    $(document).ready(function () {
        $("#dataTable").DataTable();
   });
</script>
{% endblock content %}

{% block css %}
<script src="https://kit.fontawesome.com/939d4c3ab9.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
</style>
<style>
    .date{font-size: 11px}.comment-text{font-size: 12px}.fs-12{font-size: 12px}.shadow-none{box-shadow: none}.name{color: #007bff}.cursor:hover{color: blue}.cursor{cursor: pointer}.textarea{resize: none}
</style>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
{% endblock css %}