{% extends 'app/index.html' %}{% block content %}
{% load app_extras %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="search-div" class="w-50 mx-auto pt-5 my-5">
    <form class="form-inline search-form" method="POST" action="{% url 'dashboard' dashboard.pk %}">
        {% csrf_token %}
        <div class="input-group">
            <input class="form-control" aria-label="Search" type="text" value="{{address}}" placeholder="Search Address" name="address" maxlength="100" required="" id="id_address">  
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </form>
</div>


{% if results %}
<div class="container-fluid">
    {% if results.balance or results.first_transaction or results.last_transaction or results.illegal_activity %}
    <!-- Content Row -->
    <div class="row">
        {% include 'app/summary-pills.html' %}
        {% include 'app/most-trans.html' %}
        {% include 'app/top-comments.html' %}
    </div>
    {% endif %}
    {% if results.balance_time or results.exchanges %}
    <div class="row mt-4">
        {% include 'app/exchanges-n-time.html' %}
    {% endif %}
    {% if results.inputs_stats %}
    <div class="row mt-4">
        {% include 'app/stats.html' %}
    </div>
    {% endif %}
    <!-- Content Row -->
    <div class="row mt-4" id="addrWrapper">
        {% include 'app/web-addr.html' %}
    </div>
    {% if results.transactions %}
    <!-- Content Row -->
    <div class="row mt-4">
        {% include 'app/transactions.html' %}
    </div>
    {% endif %}


    <!-- ############################################################################################## -->
    <!-- NOTE SECTION-->
    <div class="row mt-4">
        <div class="col">
            <h3>Leave your notes and contribute!</h3>
            <div class="row d-flex flex-row justify-content-center" id="note" name="note">
                <div class="col d-flex flex-column col-md-8">
                    <div class="row">
                        <div class="col" id="comment-list-wrapper">
                            {% include 'app/note_list.html' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="comment-form-wrapper">
                                <form class="bg-light p-2 comment-form">
                                    {% csrf_token %}
                                    <div class="row d-flex flex-row align-items-start">
                                        <div class="col d-inline-flex">
                                            <img class="rounded-circle p-2" src="https://i.imgur.com/NAGTvvz.png" width="40px" height="40px">
                                            <textarea class="form-control ml-1 shadow-none textarea p-3" name="note"></textarea>
                                        </div>
                                    </div>
                                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Button</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- NOTE SECTION-->
</div>
<script>  
$(document).ready(function() {
    $('.comment-form').submit(function(e){
        e.preventDefault();
        var $form = $(this);
        var serializedData = $form.serialize();
        $.ajax({
            type:'POST',
            url:`{% url "note-create" address %}`,
            data: serializedData,
            dataType: "json",
            success:function(){
                $(".comment-form")[0].reset();
                $.ajax({
                    type:'GET',
                    url:`{% url "note-list" address %}`,
                    success:function(data){
                        $('#comment-list-wrapper').html(data);
                    }
                });
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });   
    $(document).on('submit', '.relatedAddresses', function(e){
        e.preventDefault();
        var $form = $(this);
        var serializedData = $form.serialize();
        $('#addressCreateModal').modal('hide');
        $.ajax({
            type:'POST',
            url: $form.attr('action'),
            data: serializedData,
            dataType: "json",
            success:function(){
                $.ajax({
                    type:'GET',
                    url:`{% url "address-list" address %}`,
                    success:function(data){
                        console.log(data);
                        $('#addrWrapper').html(data);
                    }
                });
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
    $(document).on('submit', '.deleteAddr', function(e){
        e.preventDefault();
        var $form = $(this);
        var serializedData = $form.serialize();
        $.ajax({
            type:'POST',
            url: $form.attr('action'),
            data: serializedData,
            dataType: "json",
            success:function(){
                $.ajax({
                    type:'GET',
                    url:`{% url "address-list" address %}`,
                    success:function(data){
                        console.log(data);
                        $('#addrWrapper').html(data);
                    }
                });
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
    $(document).on('submit', '.relatedWebsites', function(e){
        e.preventDefault();
        var $form = $(this);
        var serializedData = $form.serialize();
        $('#webCreateModal').modal('hide');
        $.ajax({
            type:'POST',
            url: $form.attr('action'),
            data: serializedData,
            dataType: "json",
            success:function(){
                $.ajax({
                    type:'GET',
                    url:`{% url "address-list" address %}`,
                    success:function(data){
                        console.log(data);
                        $('#addrWrapper').html(data);
                    }
                });
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
    $(document).on('submit', '.deleteWeb', function(e){
        e.preventDefault();
        var $form = $(this);
        var serializedData = $form.serialize();
        $.ajax({
            type:'POST',
            url: $form.attr('action'),
            data: serializedData,
            dataType: "json",
            success:function(){
                $.ajax({
                    type:'GET',
                    url:`{% url "address-list" address %}`,
                    success:function(data){
                        console.log(data);
                        $('#addrWrapper').html(data);
                    }
                });
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
});
</script>
<script>
$(function() {
    $(document).on('submit', '.upvote', function(e){
        e.preventDefault();
        var $form = $(this);
        var serializedData = $form.serialize();
        $.ajax({
            type:'POST',
            url: $form.attr('action'),
            data: serializedData,
            dataType: "json",
            success:function(){
                $.ajax({
                    type:'GET',
                    url:`{% url "note-list" address %}`,
                    success:function(data){
                        $('#comment-list-wrapper').html(data);
                    }
                });
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        
        });
    }); 
});
</script>
<script>
$(function() {
    $(document).on('submit', '.downvote', function(e){
        e.preventDefault();
        var $form = $(this);
        var serializedData = $form.serialize();
        $.ajax({
            type:'POST',
            url: $form.attr('action'),
            data: serializedData,
            dataType: "json",
            success:function(){
                $.ajax({
                    type:'GET',
                    url:`{% url "note-list" address %}`,
                    success:function(data){
                        $('#comment-list-wrapper').html(data);
                    }
                });
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
});    
</script>

{% else %}
<div class="position-absolute top-50 start-50 translate-middle fs-1"> 
    <center> 
        <div class="text-muted">
            Nothing here! Search an address to investigate.
        </div>
    </center>
</div>
{% endif %}
<script>

    $(document).ready(function () {
        $("#dataTable").DataTable();
   });
</script>
{% endblock content %}

{% block css %}
<script src="https://kit.fontawesome.com/939d4c3ab9.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
</style>
<style>
    .date{font-size: 11px}.comment-text{font-size: 12px}.fs-12{font-size: 12px}.shadow-none{box-shadow: none}.name{color: #007bff}.cursor:hover{color: blue}.cursor{cursor: pointer}.textarea{resize: none}
</style>
<style>
    .badge-soft-purple {
        background: rgba(155, 0, 252, 0.18);
    }
</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
{% endblock css %}