{% extends 'app/index.html' %} {% block content %}
{% load app_extras %}
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="container-fluid position-absolute top-50 start-50 translate-middle">
    <div id="search-div" class="w-50 mx-auto my-4 py-5">
        <form class="form-inline" method="POST" action="{% url 'dashboard' default_dashboard %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input class="form-control mr-sm-2" aria-label="Search" type="text" placeholder="Search Address" name="address" maxlength="100" required="" id="id_address">  
                <div class="input-group-append">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>


    <div class="row mt-5 justify-content-center">
        <div class="col-5 col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="row mt-2">
                        <div class="col-12 mb-3 col-md-9">
                            <h3 class="card-title">Trending searches <i class="fa-solid fa-chart-line"></i></h3>
                        </div>
                        <div class="col-12 mb-3 col-md-2">
                            <form method="GET">
                                <select class="form-select" name="search-area" id="filterByDateRange" onchange="this.form.submit();">
                                    <option value="{{top_filter}}" selected>{{top_filter}}</option>
                                    <option value="week">Last Week</option>
                                    <option value="month">Last Month</option>
                                    <option value="year">Last Year</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Tag</th>
                                    <th>Times Searched</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for address in searches %}
                                <tr>
                                    <td><form method="POST" action="{% url 'dashboard' default_dashboard %}" target="_blank">{% csrf_token %}<button class="btn btn-link m-0 p-0" type="submit" name="address" value="{{address.wallet_address}}"><span style="color: unset; background-color: unset;">{{address.wallet_address}}</span><br/></button></form><br></td>
                                    <td>{{address.tag}}</td>
                                    <td>{{address.count}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://kit.fontawesome.com/939d4c3ab9.js" crossorigin="anonymous"></script>
{% endblock content %}