{% for note in notes %}
<div class="bg-white p-2">
    <div class="d-flex flex-row user-info">
        <img class="rounded-circle p-2" src="https://i.imgur.com/NAGTvvz.png" width="40">
        <div class="d-flex flex-column justify-content-start ml-2">
            <span class="d-block font-weight-bold name">{{note.user_id.email}}</span>
            <span class="date text-black-50 pl-3">Shared publicly - {{note.date_posted}}</span>
        </div>
    </div>
    <div class="mt-2">
        <p class="comment-text">{{note.note}}</p>
    </div>
</div>
{% endfor %}          